extends layout

block content
	h1= title
	each server in Servers
		div(class="container")
			h2= server.Name
			ul
			each boss in Bosses
				li
					label= boss.Name
						input(type="checkbox" value=boss.Name)
	div(class="clear")
	script(src='public/javascripts/index.js')